<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- הרשאות כלליות לאפליקציה -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartSilence"
        tools:targetApi="31">

        <!-- מסך פתיחה: SplashActivity כ-Launcher -->
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.SmartSilence.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- מסך ראשי (הום) -->
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />

        <!-- מסך ניהול חוקים -->
        <activity
            android:name=".activities.RulesActivity"
            android:exported="false" />

        <!-- שירות לזמנים (אם תרצה גם שירות למיקום, תוסיף דומה) -->
        <service
            android:name=".services.TimeSchedulerService"
            android:exported="false" />

        <service
            android:name=".services.LocationMonitorService"
            android:exported="false"
            android:foregroundServiceType="location" />


    </application>
</manifest>
